<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Formulario</title>
</head>
<body>
    <h1>Formulario</h1>

    <form th:action="@{/login}" th:object="${student}" method="post">

        <label name="firstName">First name: </label>
        <input type="text" th:field="*{firstName}"  id="firstName">
        <br>

        <label name="lastName">Last name (*): </label>
        <input type="text" th:field="*{lastName}"  id="lastName">
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
        <br>

        Countries :

        <select th:field="*{country}">
            <option th:each="tempCountry : ${countries}"
                    th:value="${tempCountry}"
                    th:text="${tempCountry}">
            </option>
        </select>
        <br>
        Languages :
        <input type="radio"
               th:field="*{language}"
               th:each="tempLang : ${languages}"
               th:value="${tempLang}"
               th:text="${tempLang}" />
        <br>
        Systems :
        <input type="checkbox"
               th:field="*{favoriteSystems}"
               th:each="tempSystem : ${systems}"
               th:value="${tempSystem}"
               th:text="${tempSystem}" />
        <br>
        FreePass :
        <input type="number" th:field="*{freePass}">
        <span th:if="${#fields.hasErrors('freePass')}" th:errors="*{freePass}" class="error"></span>

        <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>