<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario</title>
</head>
<body>
    <h1>Dados do Studante</h1>

    <p th:text=" 'First name: '  + ${student.firstName}"></p>
    <p th:text=" 'Last name : '  + ${student.lastName}"></p>
    <p th:text=" 'Country   : '  + ${student.country}"></p>
    <p th:text=" 'Language  : '  + ${student.language}"></p>
    <p>Systems: </p>
    <ul th:each="tempSystem : ${student.favoriteSystems}">
        <li th:text="${tempSystem}" />
    </ul>
    Free pass :
    <p th:text="${student.freePass}"></p>
</body>
</html>